<div class="productheader">
  <div>
    <h4>Items in the Cart</h4>
  </div>

</div>
<div class="main-container">
  <div class="row cartrows" *ngFor="let item of items">
    <div class="col-lg-3">
      <div class="imagecontainer">
        <img src="https://images-na.ssl-images-amazon.com/images/I/91aAsRoS8eL._AC_UL1500_.jpg" alt="" class="productImage">
      </div>
      
    </div>
    <div class="col-lg-6 detail">
      <h5><a (click)="navigateToDetail(item?.item?.product)">{{item?.item?.product?.name}}</a></h5>
      <p>{{item?.item?.product?.description}}</p>
      <p></p>
    </div>
    <div class="col-lg-2 price">
      <h4>{{item?.item?.price | currency}}</h4>
      <button class="btn btn-primary add-to-cart addToCartbtn order btn-sm" (click)="placeOrderComponent(item)"><i class="zmdi zmdi-case-play"></i>&nbsp;Place Order</button>
      <button class="btn btn-primary add-to-cart addToCartbtn delete btn-sm" (click)="removeFromCart(item._id)"><i class="zmdi zmdi-delete"></i>&nbsp;remove</button>
    </div>
    <hr>
  </div>
</div>
