
<div class="wrapper">
  <div class="main">
    <div class="loginwrapper">
      <div class="box">
        <p class="logintxt">
         Shopping Island
        </p>
        <p class="logintxt">
          Sign-In
        </p>
        <p *ngIf="erromsg" style="color: #ebf919;
        font-size: 12;
        font-weight: 500;
        text-align: center;">
          {{erromsg}}
        </p>
        <form>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" name="inputEmail3" [(ngModel)]="user.email" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="inputPassword3" [(ngModel)]="user.password" placeholder="Password">
            </div>
          </div>
     
    
          <div class="form-group row">
            <div class="col-sm-10 logibtn">
              <button type="submit" class="btn btn-primary" (click)="login()">Sign in</button>
            </div>
            <div class="col-sm-12 " style="text-align: center;       color: #dee2e6; ">
              <p>Don't have an account <a [routerLink]="['/signup']" style="font-weight: 600;color: #f8f9fa;background: #848484;text-decoration: underline;">Sign up</a></p>
            </div>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
