<div class="productheader">
  <div>
    <h4>Previously Orderd Items</h4>
  </div>
</div>
<div class="main-container">
  <div class="row cartrows" *ngFor="let item of items">
    
    <div class="col-lg-3">
      <div class="imagecontainer">
        <img
          src="{{item?.item?.product?.imageUrl}}"
          alt=""
          class="productImage"
        />
      </div>
    </div>
    <div class="col-lg-4 detail">
      <h5>
        <a (click)="navigateToDetail(item?.item?.product)">{{
          item?.item?.product?.name
        }}</a>
      </h5>
      {{item?.item?.orderStatus}}
      <span style="font-size: 12px;
      border-bottom: 1px solid #a8000061;"><span> Orderd on: </span>{{item.orderDate |date:'short'}}</span>
      <p>{{ item?.item?.product?.description }}</p>
      <p></p>
    </div>
    <div class="col-lg-2 price">
      <h4>{{ item?.item?.price | currency }}</h4>
      <!-- <button class="btn btn-primary add-to-cart addToCartbtn order btn-sm" (click)="placeOrderComponent(item)"><i class="zmdi zmdi-case-play"></i>&nbsp;Order Again</button>
      <button class="btn btn-primary add-to-cart addToCartbtn delete btn-sm"><i class="zmdi zmdi-delete"></i>&nbsp;cancel</button> -->
      <p style="text-transform: capitalize;">status: <span style="
        color: #dc3545;">{{item?.orderStatus}}</span></p>
    </div>
    <div class="col-lg-2">
<!-- 
      <button class="btn btn-primary add-to-cart addToCartbtn delete btn-sm">
        <i class="zmdi zmdi-delete"></i>&nbsp;cancel
      </button> -->
      <div>
        <label>Change Status</label>
        <select class="form-control" name="status" [(ngModel)]="status" >
          <option [ngValue]="null" selected></option>
          <option *ngFor="let s of statuses" [value]="s.value">{{ s.name}}</option>
        </select>
        <button style="margin-top: 10px;" type="button" class="form-control" class="btn-btn-primary btn-sm" *ngIf="status != null" (click)="changeStatus(item?._id)">change</button>
      </div>
    </div>
    <hr />
  </div>
</div>
<p-toast position="top-center"></p-toast>