<div class="productheader">
  <h4>Shopping Island is your first stop!</h4>
</div>
<div class="row" >
  <div class="col-lg-2" *ngFor="let product of products">
    <div class="productinfo text-center">
      <div class="imgc" *ngIf="product.imageUrl">
        <img
        src="{{product.imageUrl}}"
        alt=""
        />
      </div>
      <h5>$56</h5>
      <p ><a (click)="navigateToDetail(product)" class="productname">{{product.name}}</a> </p>
      <a href="#" class="btn btn-primary add-to-cart addToCartbtn btn-sm"><i class="zmdi zmdi-shopping-cart"></i>&nbsp;Add to cart</a>
  </div>
</div>
