<div class="row">
  <div class="col-lg-3">
    <div class="productinfo text-center">
      <img
        src="../../../assets//images/product7.jpg"
        alt=""
        style="width: 136px;"
      />
      <h2>$56</h2>
      <p>Easy Polo Black Edition</p>
      <a href="#" class="btn btn-primary add-to-cart addToCartbtn"
        ><i class="fa fa-shopping-cart"></i>Add to cart</a
      >
    </div>
  </div>
  <div class="col-lg-3">
    <div class="productinfo text-center">
      <img
        src="../../../assets//images/product7.jpg"
        alt=""
        style="width: 136px;"
      />
      <h2>$56</h2>
      <p>Easy Polo Black Edition</p>
      <a href="#" class="btn btn-primary add-to-cart addToCartbtn">
        <i class="fa fa-shopping-cart"> </i>Add to cart
      </a>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="productinfo text-center">
      <img
        src="../../../assets//images/product7.jpg"
        alt=""
        style="width: 136px;"
      />
      <h2>$56</h2>
      <p>Easy Polo Black Edition</p>
      <a href="#" class="btn btn-primary add-to-cart addToCartbtn">
        <i class="fa fa-shopping-cart"></i>Add to cart</a>
        <a [routerLink]="['detail']" class="btn btn-primary add-to-cart addToCartbtn">
          <i class="fa fa-shopping-cart">
        </i>Detail</a>
    </div>
  </div>
</div>
