<div class="productheader">
  <h4>Shopping Island is your first stop! , <span *ngIf="!products.length">there is no products in store</span></h4>
</div>
<div class="row" >
  <div class="col-lg-2" *ngFor="let product of products">
    <div class="productinfo text-center">
      <div class="imgc" *ngIf="product.imageUrl">
        <img
        src="{{product.imageUrl}}"
        alt=""
        />
      </div>
      <h5>{{product.maxPrice}}</h5>
      <p ><a (click)="navigateToDetail(product)" class="productname">{{product.name}}</a> </p>
      <p ><a (click)="navigateToDetail(product)" class="productname">{{product.description | truncate : 42}} ...</a> </p>
      <a (click)="navigateToDetail(product)"class="btn btn-primary add-to-cart addToCartbtn btn-sm"><i class="zmdi zmdi-collection-text"></i>&nbsp;See More</a>
  </div>
</div>
