<div class="productheader">
  <div>
    <h4>Shopping Island is your first stop!</h4>
  </div>
 
  <div>
    <a [routerLink]="['/product/add']" class="btn btn-primary add-to-cart addToCartbtn btn-sm"><i class="zmdi zmdi-plus-square" ></i>&nbsp;Add Product</a>
  </div>
</div>
<div class="row" >
  <div class="col-lg-2" *ngFor="let product of products">
    <div class="productinfo text-center">
      <div class="imgc" *ngIf="product.imageUrl">
        <img
        src="{{product.imageUrl}}"
        alt=""
        />
      </div>
      <h5>$56</h5>
      <p ><a (click)="navigateToDetail(product)" class="productname">{{product.name}}</a> </p>
      
      <button class="btn btn-primary add-to-cart addToCartbtn btn-sm" (click)="addItem(product)"><i class="zmdi zmdi-plus-square"></i>&nbsp;Add Item | {{product.itemCount}}</button>
     
      <div>
        <a (click)="navigateToedit(product)" class=""><i class="zmdi zmdi-edit"></i>&nbsp;edit</a>&nbsp;
        <a  class="" *ngIf="product.itemCount !=0"><i class="zmdi zmdi-delete" ></i>&nbsp;delete</a>
      </div>
      
  </div>
</div>
